<a href="https://colab.research.google.com/github/praveenGV573/Python-training-/blob/main/Day_1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Implement the methods of String with examples
print("Methods of String")
str1='Genzeon'
str2='IND pvt Ltd'
print (len(str1))
print (str1 + str2)
print (str1[1])



#Implement the methods of List with examples.
print("Methods of List")
list1=[1,2,3,4,5]
list2=['a','b','c','d','e','f','g','h','i','j']
list1.append(6)
#list1.append(list2)
print ("\bAppend 6 in list:",list1)
list1.reverse()
print ("Reverse a string :",list1)
list3=list1
print ("Coping the list :",list3)
print ("Min value in list :",min(list1))
list2.remove('a')
print ("After removing a from list :",list2)
print ("Range 3 to 5:", list2[3:7])



#Implement the methods of Set with examples.
set1={'Jan','Feb','Mar','April','May'}
Set2={'Jan','Feb','Mar','April','May'}

set1.add('June')
print (set1)
set1==set2

Methods of String
7
GenzeonIND pvt Ltd
e
Methods of List
Append 6 in list: [1, 2, 3, 4, 5, 6]
Reverse a string : [6, 5, 4, 3, 2, 1]
Coping the list : [6, 5, 4, 3, 2, 1]
Min value in list : 1
After removing a from list : ['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Range 3 to 5: ['e', 'f', 'g', 'h']
{'Feb', 'May', 'Jan', 'April', 'Mar', 'June'}

In [ ]:
#zzoooooo

i=int(input("enter a value"))
x=0
y=0
set1=[]

for y in range (i):
  set1.append('z')
for x in range(0,2*i):
  set1.append('o')
print (set1)

#programm2
a=0
set2=[]
for a in range (3*i):
 if a<i:
  set2.append('z')
 else:
  set2.append('o')
print (set2)

enter a value3
['z', 'z', 'z', 'o', 'o', 'o', 'o', 'o', 'o']
['z', 'z', 'z', 'o', 'o', 'o', 'o', 'o', 'o']

In [14]:
#Reverse a string
s=input("enter string")
s1=s[::-1]
print(s1.upper())

enter stringa
A

In [20]:
#Predict the output for the given code snippet and justify the result.

print ("Hello world this is praveen" [::-1][3:11])
#This will reverse the string first and print range for 3 to 11 (Range starts from last char )

print ("Hello world this is praveen" [3:11][::-1])
#This consider the range from 3 to 11 and print in reverse order

varp si

In [21]:
#Matrix Subtraction, Addition, Multiplication


Add[i][j]
sub[i][j]
a[i][j]
b[i][j]

for i in range(x):
  for j in range(y):
    Add[i][j]=a[i][j]+b[i][j]
    sub[i][j]=a[i][j]-b[i][j]

print(Add[i][j])
print(sub[i][j])

In [42]:
#binary conversion
x=int(input("enter number"))
while x>0:
  if x%2==0:
    print(0)
    x=int(x/2)
  else:
    print(1)
    x=int(x/2)

enter number9
1
0
0
1